:root {
  --colour-primary: hsl(229, 36%, 9%);
  --colour-secondary: lightcoral;
  --colour-third: darkslategray;
  --colour-fourth: hsl(0, 73%, 26%);
  --colour-fifth: burlywood;
  --colour-white: ivory;
  --transition-main: all .4s ease-in-out;
}

.switch-theme {
  --colour-primary: #8cb6db;
  --colour-secondary: darkorchid;
  --colour-third: lightblue;
  --colour-fourth: #27c4a2;
  --colour-fifth: palevioletred;
  --colour-white: midnightblue;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 1.1rm;
  color: var(--colour-secondary);
  background-color: var(--colour-primary);
}

header {
  position: relative;
  background: linear-gradient(90deg, var(--colour-third) 28%, var(--colour-fifth) 70%);
  padding: 0.4rem;
  margin-bottom: 0;
}
header h1 {
  padding-left: 1.8rem;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me img {
  position: relative;
  box-shadow: 0.5rem black;
  color: var(--colour-white);
  padding-right: 8rem;
  width: 20rem;
  height: 29rem;
}
.about-me p {
  position: relative;
  color: var(--colour-white);
  width: clamp(21rem, 34vw, 76rem);
  font-size: 1.7rem;
}

main {
  max-width: 85%;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  float: right;
  margin-top: -3.2rem;
  padding-right: 1.7rem;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin: 0 1em;
}
nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}
nav ul a:hover {
  color: var(--colour-primary);
}

.btn {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  padding: 1.8rem;
}
.btn .resume-btn {
  border-radius: 1rem;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--colour-third);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.btn .resume-btn .resume-text {
  padding: 0 2rem;
}
.btn .resume-btn .resume-icon {
  background-color: var(--colour-fourth);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  padding: 0.95rem;
}
.btn .resume-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: var(--transition-main);
  z-index: -1;
}
.btn .resume-btn:hover {
  transition: var(--transition-main);
}
.btn .resume-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--colour-white);
  transform: translateX(0);
}

.title {
  text-transform: uppercase;
  font-size: 1.9rem;
  text-align: center;
  padding: 2.3rem 0;
  position: relative;
  margin-bottom: 0;
}
.title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 100%;
  height: 1px;
  background-color: var(--colour-third);
  transform: translateX(-50%);
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.projects .project-item {
  position: relative;
}
.projects .project-item img {
  width: 100%;
  height: 23rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.projects .project-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--colour-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: var(--transition-main);
}
.projects .project-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--colour-white);
  margin-bottom: 1.5rem;
}
.projects .project-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .project-item .hover-items .icons .icon {
  background-color: var(--colour-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: var(--transition-main);
}
.projects .project-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--colour-fifth);
  margin: 0 1rem;
}
.projects .project-item .hover-items .icons .icon:hover {
  background-color: var(--colour-white);
}
.projects .project-item .hover-items .icons .icon:hover i {
  color: var(--colour-secondary);
}

.project-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  color: var(--colour-white);
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.about-stats .progress-bars .progress-bar .progress-container {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-container .prog-text {
  color: var(--colour-white);
  margin: 0;
}
.about-stats .progress-bars .progress-bar .progress-container .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--colour-third);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-container .progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--colour-fifth);
  transition: var(--transition-main);
}
.about-stats .progress-bars .progress-bar .progress-container .progress .html {
  width: 55%;
}
.about-stats .progress-bars .progress-bar .progress-container .progress .java {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-container .progress .python {
  width: 85%;
}
.about-stats .progress-bars .progress-bar .progress-container .progress .javascript {
  width: 20%;
}
.about-stats .progress-bars .progress-bar .progress-container .progress .c {
  width: 65%;
}

.experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.experience .experience-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--colour-fifth);
  margin-top: 0;
}
.experience .experience-item .exp-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--colour-third);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience .experience-item .exp-icon i {
  font-size: 1.3rem;
}
.experience .experience-item .exp-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--colour-fourth);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.experience .experience-item h5 {
  padding: 1rem 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--colour-white);
}
.experience .experience-item h5 span {
  color: var(--colour-fifth);
  font-weight: 500;
  font-size: 1.2rem;
}
.experience .experience-item p {
  color: var(--colour-white);
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts .left-contact {
  flex: 1;
}
.contacts .left-contact .contact-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.4rem;
}
.contacts .left-contact .contact-item i {
  padding-right: 0.8rem;
  font-size: 1.8rem;
}
.contacts .left-contact .contact-item span {
  padding-right: 0.3rem;
}
.contacts .left-contact .contact-item a {
  color: var(--colour-white);
  text-decoration: none;
}
.contacts .left-contact .contact-item a:hover {
  background-color: var(--colour-third);
}

.theme-btn {
  bottom: 3%;
  right: 2%;
  width: 55px;
  height: 55px;
  border-radius: 40%;
  background-color: var(--colour-fourth);
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-7px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--colour-fifth);
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--colour-third);
  border-radius: 100vh;
  margin-block: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--colour-secondary);
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--colour-white);
}/*# sourceMappingURL=styles.css.map */