// variables used for website
:root{
    --colour-primary: hsl(229, 36%, 9%);
    --colour-secondary: lightcoral;
    --colour-third: darkslategray;
    --colour-fourth: hsl(0, 73%, 26%);
    --colour-fifth: burlywood;  
    --colour-white: ivory;
    --transition-main: all .4s ease-in-out;
}

// for theme
.switch-theme{
  --colour-primary: #8cb6db;
  --colour-secondary: darkorchid;
  --colour-third: lightblue;
  --colour-fourth: #27c4a2;
  --colour-fifth: palevioletred;  
  --colour-white: midnightblue;
}

// style the body element
body{
  font-family: "EB Garamond", serif;
  font-size: 1.1rm;
  color: var(--colour-secondary);
  background-color: var(--colour-primary);
}

// style the header element
header{
  position: relative;
  background: linear-gradient(90deg, var(--colour-third) 28%, var(--colour-fifth) 70%);
  padding: 0.4rem;
  margin-bottom: 0;
  h1{
    padding-left: 1.8rem;
  }
}

.about-me{
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    position: relative;
    box-shadow: 0.5rem black;
    color: var(--colour-white);
    padding-right: 8rem;
    width: 20rem;
    height: 29rem;
  }
  p{
    position: relative;
    color: var(--colour-white);
    width: clamp(21rem, 34vw, 76rem);
    font-size: 1.7rem;
  }
}

// style the main content area 
main{
  max-width: 85%;
  margin: 0 auto;
  padding: 1rem;
}

// style the navigation menu 
nav{
  float: right;
  margin-top: -3.2rem;
  padding-right: 1.7rem;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li{
      margin: 0 1em;
    }
    a{
      text-decoration: none;
      color: #fff;
      font-size: 1.3rem;
      &:hover{
        color: var(--colour-primary);
      }
    }
  }
}

// download resume button
.btn{
  display: flex;
  align-self: flex-start;
  justify-content: center;
  padding: 1.8rem;
  .resume-btn{
    border-radius: 1rem;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--colour-third);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .resume-text{
      padding: 0 2rem;
    }
    .resume-icon{
      background-color: var(--colour-fourth);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0%;
      padding: 0.95rem;
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: var(--transition-main);
      z-index: -1;
    }
    &:hover{
      transition: var(--transition-main);
      &::before{
        width: 100%;
        height: 100%;
        background-color: var(--colour-white);
        transform: translateX(0);
      }
    }
  }
}

.title{
  text-transform: uppercase;
  font-size: 1.9rem;
  text-align: center;
  padding: 2.3rem 0;
  position: relative;
  margin-bottom: 0;
  &::before{
      content: '';
      position: absolute;
      left: 50%;
      top: 0%;
      width: 100%;
      height: 1px;
      background-color: var(--colour-third);
      transform: translateX(-50%);
  }
}

// Projects section
.projects{
  overflow: auto;
  white-space: nowrap;
  .project-item{
    display: inline-block;
    position: relative;
    padding: 0.3rem;
    margin-bottom: 0.4rem;
    img{
      width: 100%;
      height: 23rem;
      object-fit: cover;
      border-radius: 15px;
    }
    .hover-items{
      width: 100%;
      height: 100%;
      background-color: var(--colour-secondary);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: scale(0);
      transition: var(--transition-main);
      h3{
        font-size: 1.7rem;
        color: var(--colour-white);
        margin-bottom: 1.5rem;
      }
      .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          background-color: var(--colour-primary);
          border-radius: 50%;
          width: 75px;
          height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: var(--transition-main);
          i{
            font-size: 1.5rem;
            color: var(--colour-fifth);
          }
          &:hover{
            background-color: var(--colour-white);
            i{
              color: var(--colour-secondary);
            }
          }
        }
      }
    }
  }
}

.project-item:hover .hover-items{
  opacity: 1;
  transform: scale(1);
}

// Skills section
.about-stats{
  padding-bottom: 4rem;
  .progress-bars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .progress-bar{
      display: flex;
      flex-direction: column;
      .prog-title{
        color: var(--colour-white);
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
      }
      .progress-container{
        display: flex;
        align-items: center;
        .prog-text{
          color: var(--colour-white);
          margin: 0;
        }
        .progress{
          width: 100%;
          height: .45rem;
          background-color: var(--colour-third);
          margin-left: 1rem;
          position: relative;
          span{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: var(--colour-fifth);
            transition: var(--transition-main);
          }
          .html{width: 55%;}
          .java{width: 80%;}
          .python{width: 85%;}
          .javascript{width: 20%;}
          .c{width: 65%;}
        }
      }
    }
  }
}

// Experience section
.experience{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
  .experience-item{
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--colour-fifth);
    margin-top: 0;
    .exp-icon{
      position: absolute;
      left: -27px;
      top: 0;
      background-color: var(--colour-third);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        font-size: 1.3rem;
      }
    }
    .exp-duration{
      padding: .2rem .6rem;
      background-color: var(--colour-fourth);
      border-radius: 15px;
      display: inline-block;
      font-size: .8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    h5{
      padding: 1rem 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--colour-white);
      span{
        color: var(--colour-fifth);
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
    p{
      color: var(--colour-white);
    }
  }
}

// contact section
.contacts{
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  margin-bottom: 3rem;
  .left-contact{
    margin-top: 8rem;
    .contact-item{
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      padding: 0.4rem;
      i{
        padding-right: 0.8rem;
        font-size: 1.8rem;
      }
      span{
        padding-right: 0.3rem;
      }
      a{
        color: var(--colour-white);
        text-decoration: none;
        &:hover{
          background-color: var(--colour-third);
        }
      }
    }
  }
  .right-contact{
    margin-left: 1.5rem;
    .input{
      margin: 1.3rem;
      input, textarea{
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: .8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--colour-third);
        width: 100%;
        color: var(--colour-white);
        resize: none;
      }
    }
    .submit-btn{
      display: flex;
      justify-content: center;
      i{
        padding-left: 0.7rem;
      }
      button{ 
        font-size: 1.3rem;
        border-radius: 10px;
        background: whitesmoke;
        cursor: pointer;
      }
    }
  }
}
  
// for switching themes
.theme-btn{
  bottom: 3%;
  right: 2%;
  width: 55px;
  height: 55px;
  border-radius: 40%;
  background-color: var(--colour-fourth);
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-in-out;
  &:active{
    transform: translateY(-7px);
  }
  i{
    font-size: 1.4rem;
    color: var(--colour-fifth);
    pointer-events: none;
  }
}

// scrollbar
::-webkit-scrollbar{
  width: 0.6rem;
  height: 0.4rem;
}
::-webkit-scrollbar-track{
  background: var(--colour-third);
  border-radius: 100vh;
  margin-block: 0.3rem;
}
::-webkit-scrollbar-thumb{
  background: var(--colour-secondary);
  border-radius: 100vh;
  &:hover{
    background: var(--colour-white);
  }
}